@using GDriveWorker.Metadata
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Running service as:</h2>

    <b>@Model.ServiceAccountName</b>

    <br />
    <br />
    Showing 5 of @Model.RecordCount records
    <br />
</div>

<body>
    @foreach (BasicTableInfo uploadInfo in Model.UploadInfo)
    {
        <div class="container pt-2 w-100">
            <div class="row ">
                <div class="col-sm-4 w-50" style=" border: 1px solid;">
                    <div>
                        <b>FileName:</b> @uploadInfo.TableMessage
                    </div>
                </div>
                <div class="col-sm-4 w-50" style=" border: 1px solid;">
                    <div >
                        <b>Upload Time:</b> @uploadInfo.MessageDT
                    </div>
                </div>
            </div>
        </div>
    }
</body>