@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Running service as:</h2>

    <b>@Model.ServiceAccountName</b>
</div>

<body>
    @foreach (UploadInfo uploadInfo in Model.uploadInfo)
    {
        <div class="container pt-2">
            <div class="row ">
                <div class="col-sm-4" style=" border: 1px solid;">
                    <div>
                        <b>FileName:</b> @uploadInfo.FileName
                    </div>
                </div>
                <div class="col-sm-4" style=" border: 1px solid;">
                    <div >
                        <b>Upload Time:</b> @uploadInfo.UploadDT
                    </div>
                </div>
            </div>
        </div>
    }
</body>